Flask
pyOpenSSL
requests
python-dotenv
google-ads
cryptography
pymongo
Flask-PyMongo
google-auth
certifi
click
urllib3
distlib
google-api-core
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
pipenv
pycparser
pyparsing
PyYAML
requests-oauthlib
flask-cors